@use "@angular/material" as mat;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:host {
  width: 100%;
  display: block;
  font-family: var(--md-ref-typeface-plain);
}

.container {
  width: 100%;

  padding-top: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: 0.75rem 1rem;
  border-radius: 10px;
}

.name {
  margin-right: 0.5rem;

  .name-wrapper {
    display: inline-block;

    font-size: 1rem;
    font-weight: 500;
  }
}
