:host {
  display: block;
}

.name {
  max-width: 200px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  max-width: 500px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  width: 150px;
}
