<table mat-table [dataSource]="groups!">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="on-primary-container"> Name </th>
    <td mat-cell *matCellDef="let element" class="name"> {{element.name}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef class="on-primary-container"> Description </th>
    <td mat-cell *matCellDef="let element" class="description"> 
        {{element.description}} 
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="on-primary-container"> <span style="padding: 15px;">Actions</span> </th>
    <td mat-cell *matCellDef="let element" class="actions"> 
        <button mat-button (click)="goToGroup(element.id)">Detail</button>    
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalGroups" showFirstLastButtons></mat-paginator>
</div>