* {
  box-sizing: border-box;
}

.container {
  padding-top: 75px;
}

.logo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-wrapper {
    width: 120px;
    height: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    margin-top: 1rem;
    font-weight: 700;
  }
}

.nav-selector {
  display: flex;
  flex-direction: column;

  padding-left: 24px;
  padding-right: 24px;

  & > button {
    margin-top: 0.5rem;
    height: 48px;
  }
}
