:host {
  display: block;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.title {
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--md-sys-color-on-surface);
  }
}

.actions {
  margin-left: 1rem;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 400;
  filter: opacity(0.5);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
