<span style="position: relative;">
    <span class="avatar-wrapper" id="avatar-anchor" #avatar>
        @if (src) {
            <img [src]="src" />
        } @else {
            <img src="./assets/default_user_image.png" />
        }
    </span>
    <md-menu anchor="avatar-anchor" #menu>
        <div class="menu-container">
            <div class="menu-selection">
                <app-button
                    icon="person"
                    label="My Account"
                    (click)="account()"
                ></app-button>
            </div>
            <md-divider></md-divider>
            <app-filled-button
                icon="logout"
                label="Logout"
                (click)="logout()"
            ></app-filled-button>
        </div>
    </md-menu>
</span>