:host {
  display: block;
}

.title {
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  mat-form-field {
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 20px;
  }
}
