<h2 mat-dialog-title>Member Information</h2>
<mat-dialog-content>
    <mat-card class="card surface-high">
        <mat-card-content>
            <div class="content-container">
                <div class="avatar">
                    <div class="avatar-wrapper">
                        @if (member!.photoUrl !== '') {
                            <img [src]="member!.photoUrl" alt="avatar" />
                        } @else {
                            <img src="./assets/default_user_image.png" alt="avatar" />
                        }

                    </div>
                </div>
                <div class="information">
                    <div class="first-name">
                        <span class="label"> First Name: </span>
                        <span class="value on-primary-container"> {{ member!.firstName }} </span>
                    </div>
                    <div class="last-name">
                        <span class="label"> Last Name: </span>
                        <span class="value on-primary-container"> {{ member!.lastName }} </span>
                    </div>
                    <div class="email">
                        <span class="label"> Email: </span>
                        <span class="value on-primary-container"> {{ member!.email }} </span>
                    </div>
                    <div class="phone">
                        <span class="label"> Phone: </span>
                        <span class="value on-primary-container"> {{ member!.phone }} </span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
