:host {
  display: block;
}

$card-color: var(--mdc-elevated-card-container-color);

.information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .table {
    width: 100%;
  }
}

.detail-member-mask {
  min-width: 400px;
  transition: min-width 0.3s ease-in-out;
  margin-left: 1rem;
}

.detail-member-mask.none {
  min-width: 0;
  transition: min-width 0.3s ease-in-out;
}

.detail-member {
  width: 100%;
}
