:host {
  display: block;
}

:host {
  display: block;
}

.title {
  font-size: 2rem;
  font-weight: 500;

  margin-bottom: 2rem;
}

.form {
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px;
  border-radius: 10px;

  mat-form-field {
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 20px;
  }
}

.password-toggle {
  margin-top: 0 !important;
}
