<md-dialog #dialog>
    <div slot="headline">
        @switch (type) {
            @case ('info') {
                <md-icon>info</md-icon>
            }
            @case ('warning') {
                <md-icon>warning</md-icon>
            }
            @case ('error') {
                <md-icon>error</md-icon>
            }
            @case ('success') {
                <md-icon>check_circle</md-icon>
            }
        }
        <h2>{{title}}</h2>
    </div>
    <div slot="content">
        <p>{{message}}</p>
    </div>
    <div slot="actions">
        <md-outlined-button (click)="dialog.close()">{{ cancleText }}</md-outlined-button>
        <md-filled-button (click)="confirmDialog()">{{ confirmText }}</md-filled-button>
    </div>
</md-dialog>